/* START Global Styles =========== */
.App {
  /* padding: 0 10%; */
  max-width: 1440px;
  margin: 0 auto;
}

.Btn {
  min-width: 175px;
  background: #2AB5CA;
  color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  height: 40px;
  border: 1px solid #2AB5CA;
  border-radius: 24px;
}

.Btn-outline {
  min-width: 100px;
  background: transparent;
  color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  height: 40px;
  border: 1px solid white;
  border-radius: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-48 {
  margin-bottom: 48px;
}
/* END Global Styles =========== */

/* START Nav.js =========== */
.App-header {
  background-color: white;
  height: 70px;
  padding: 24px 10% 0;
  color: #B0B9BE;
  /* box-shadow: 0 1px #eee; */
  display: flex;
  flex-direction: row;
  animation: fadeInUp 1s ease;
  -webkit-animation: fadeInUp 1s ease;
  -moz-animation: fadeInUp 1s ease;
  -o-animation: fadeInUp 1s ease;
  -ms-animation: fadeInUp 1s ease;
}
.Nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Nav-link-container {
  display: flex;
}
.Nav-links {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 0 24px;
}
.Nav-links li {
  min-width: 100px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  list-style-type: none;
}
.Logo {
  width: 68px;
}
.Btn-container .Btn {
  justify-content: flex-end;
}

@keyframes fadeInUp {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fadeInUp {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadeInUp {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-o-keyframes fadeInUp {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fadeInUp {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* END Nav.js =========== */

/* START Hero.js =========== */
.Hero-container {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background: #eee;
  display: flex;
  align-items: center;
  background: url('./Assets/hero.png') no-repeat 110% 20%;
  background-size: 75%;
  animation: fadeInUp ease 1s;
  -webkit-animation: fadeInUp ease 1s;
  -moz-animation: fadeInUp ease 1s;
  -o-animation: fadeInUp ease 1s;
  -ms-animation: fadeInUp ease 1s;
}
.Hero-row {
  padding: 0 12%;
  display: flex;
  align-items: center;
}
.Hero-content {
  width: 40%;
}
.Hero-title {
  color: #2AB5CA;
}
.Hero-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 48px;
  width: 50%;
  margin-left: 10%;
}
.Hero-controls span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #eee;
}
.Hero-control-active {
  background: #2AB5CA !important;
}
/* END Hero.js =========== */


/* START Featured.js =========== */
.Featured-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: white;
  animation: fadeInUp 1s ease;
  -webkit-animation: fadeInUp 1s ease;
  -moz-animation: fadeInUp 1s ease;
  -o-animation: fadeInUp 1s ease;
  -ms-animation: fadeInUp 1s ease;
}
.Featured-row {
  width: 85%;
}
.Featured-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.Featured-items li {
  box-shadow: none;
  text-align: center;
}
.Featured-img {
  width: 85%;
}
/* END Featured.js =========== */

/* START Curated.js =========== */
.Curated-container {
  width: 100%;
  padding: 48px 0;
  display: flex;
  justify-content: center;
}
.Curated-row {
  width: 85%;
  display: flex;
  justify-content: center;
}
.Curated-column {
  width: 48%;
  text-align: center;
}
.Curated-column::after {
  content: "$89";
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 232px;
  background: #2AB5CA;
  border-radius: 0 8px 0 16px;
}
.Curated-img {
  border-radius: 8px;
}
.Curated-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  position: relative;
  top: -72px;
  color: white;
  margin: 0 auto;
}
.Curated-text h3 {

}
/* END Curated.js =========== */

/* START Grid.js =========== */
.Grid-container {
  width: 100%;
  padding: 48px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #EDF1F2;
}
.Grid-section-text {
  color: #2AB5CA;
  text-align: center;
}
.Grid-row {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.Grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 263px;
  margin: 0 6px;
  padding: 24px;
  background: white;
  text-align: center;
  border-radius: 4px;
  box-shadow: 1px 2px 3px #e7e7e7;
}
.Grid-item p {
  margin: 4px 0;
}
.Grid-item img {
  width: 202px;
}
.grid-price {
  color: #2AB5CA;
  font-weight: bold;
}
/* END Grid.js =========== */
